<!-- <div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/blogs/">Blogs</a>
        <a href="{{site.baseurl}}/archive/">Archive</a>
</div> -->

    <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="About"><a href="#">About</a></li>
        <li class="Blogs"><a href="#">Blogs</a></li>
        <li class="Archive"><a href="#">Archive</a></li>
      </ul>
    </div>
