// Body resets
//
// Update the foundational and global aspects of the page.


// @media screen and (min-width: 600px) {
//   }

.nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      float: left;
      display: inline-block;
      margin-right: -4px;
    }
